<main>
  <section class="baixe-spotify">
    <article>
      <img class="laptop" width="200" src="https://www-growth.scdn.co/static/download/laptop.svg" alt="">
    </article>

    <h1>Baixe o Spotify</h1>
    <p>Escute milhões de músicas e podcasts no seu dispositivo</p>
    <button>Baixar</button>
  </section>


  <section class="baixar-mobile">
    <h3>Curta suas Músicas também no seu celular ou tablet.</h3>
    <p>Ouvir música no celular ou tablet é fácil, divertido e grátis.</p>
    <div class="icon-mobile">
      <article>
        <img src="https://www-growth.scdn.co/static/badges/svgs/apple/badge-pt.svg" alt="">
      </article>

      <article>
        <img width="155" src="https://www-growth.scdn.co/static/badges/svgs/google/badge-pt.svg" alt="">
      </article>

      <article>
        <img src="https://www-growth.scdn.co/static/badges/microsoft-windows/pt.png" alt="">
      </article>
    </div>
  </section>


  <section class="dispositivos">
    <div class="info-dispo">
      <article>
        <img width="500" class="img-dispositivos" src="https://www-growth.scdn.co/static/download/all-devices.svg" alt="">
      </article>
      <h1 class="h1-dispo">Uma só conta para curtir a música em qualquer dispositivo</h1>

      <div class="links">
        <a href="">CELULAR</a>
        <a href="">COMPUTADOR</a>
        <a href="">TABLET</a>
        <a href="">CARRO</a>
        <a href="">PLAYSTATION</a>
        <a href="">XBOX</a>
        <a href="">TV</a>
        <a href="">ALTO-FALANTE</a>
        <a href="">WEB PLAYER</a>
      </div>
    </div>
  </section>
</main>