<main>
  <section class="suporte-bg">
    <div class="info-help">
      <h1>Como podemos ajudar?</h1>
      <input type="text" placeholder="Buscar">

      <div class="info-bg">
        <div class="como-entrar">
          <p>COMO ENTRAR</p>
          <h5 class="link">Não consigo redefinir a senha</h5>
        </div>
  
        <div class="solution-problemas">
          <p>SOLUÇÃO DE PROBLEMAS</p>
          <h5 class="link">Tem algo errado com a minha conta</h5>
        </div>
  
        <div class="help-entrada">
          <p>COMO ENTRAR</p>
          <h5 class="link">Não lembro minhas informações de login</h5>
        </div>

      </div>


    </div>
  </section>

  <section class="ajuda-bg">
    <div class="help-payments">
      <h1 class="h1-help">Ajuda com pagamentos</h1>
      <a href="">Gerenciar pagamentos</a>
      <a href="">Formas de pagamento</a>
      <a href="">Ajuda com a cobrança</a>
    </div>

    <div class="help-plane">
      <h1 class="h1-help">Ajuda com o plano</h1>
      <a href="">Planos disponíveis</a>
      <a href="">Preferências do plano</a>
      <a href="">Premium Família e Kids</a>
      <a href="">Premium Duo</a>
      <a href="">Premium Universitário</a>
    </div>

    <div class="help-app">
      <h1 class="h1-help">Ajuda com dispositivos</h1>
      <a href="">Como começar</a>
      <a href="">Preferências do app</a>
      <a href="">Solução de problemas</a>
      <a href="">Playlists</a>
      <a href="">Recursos</a>
      <a href="">Recursos de redes sociais</a>
      <a href="">Assistente de voz</a>
    </div>


    <div class="help-dispo">
      <h1 class="h1-help">Ajuda com dispositivos</h1>
      <a href="">Alto-falantes</a>
      <a href="">Smartwatches</a>
      <a href="">TVs</a>
      <a href="">Videogames</a>
      <a href="">Carros</a>
    </div>

    <div class="privacidade-dados">
      <h1 class="h1-help">Privacidade e Dados</h1>
      <a href="">Privacidade de reprodução</a>
      <a href="">Informações de privacidade e dados</a>
    </div>

    <div class="ajuda-conta">
      <h1 class="h1-help">Ajuda com a conta</h1>
      <a href="">Como entrar</a>
      <a href="">Ajuda com o perfil</a>
      <a href="">Configurações da conta</a>
      <a href="">Segurança</a>
    </div>
  </section>

  <section class="comunidade">
    <div class="info-com">
      <h1 class="h1-com">Visite a Comunidade</h1>
      <p class="p-com">Tem uma Pergunta? Encontre respostas na nossa Comunidade de fâs especialistas do mundo todo!</p>
      <button>Encontrar Respostas</button>
    </div>
  </section>
</main>