<header>
  <nav>
    <ul>
      <li class="icon-spotify">
        <article routerLink="home">
          <img width="120" src="../assets/images/spotify-logo-transparent-circle-4-removebg-preview.png" alt="">
        </article>
      </li>
    </ul>

    <ul>

      <li>
        <a routerLink="premium">Premimum</a>
      </li>

      <li>
        <a routerLink="suporte">Suporte</a>
      </li>

      <li>
        <a routerLink="baixar">Baixar</a>
      </li>

      <li>
        <a routerLink="inscrever">Inscrever-se</a>
      </li>

      <li>
        <a target="a_blank" href="https://open.spotify.com/" >Web Player</a>
      </li>
    </ul>
  </nav>
</header>