<main>
  <section class="premimum-info">
    <div class="premium">
      <p class="title">SPOTIFY PREMIUM</p>
    <h1>Curta 3 meses de Premium grátis</h1>
    <h3>Curta músicas sem anúncios, ouça no modo offline e muito mais. Cancele quando quiser.</h3>

    <button>APROVEITE 3 MESES GRÁTIS</button>

    <p class="termos">Somente no plano Individual. Depois, é só R$ 19,90/mês. <a class="link" href="">Sujeito a Termos e Condições</a>. Disponível apenas para quem nunca usou o Premium. Oferta termina em 12 de maio de 2022.</p>
    </div>

    <article>
      <img class="img-pag" width="400" src="https://i.scdn.co/image/ab678e040000ed3a3f49129d975d2ffcbb649b63" alt="">
    </article>
  </section>

  <section class="spotify-free">
    <div class="free">
      <p class="p-free">SPOTIFY FREE</p>

      <h1 class="h1-free">Escutar muda tudo</h1>
      <h3 class="h3-free">Milhões de músicas e podcasts para explorar. E nem precisa de cartão de crédito.</h3>
      <button class="btn-free">BAIXE O SPOTIFY FREE</button>
    </div>
  </section>
</main>
