<main>
  <section class="landing"> 
    <div class="info-premium">
      <div class="title">
        <h1 class="info"> <span>R$ 59,70</span> R$ 0,00 por 3 meses de Premium</h1>
      </div>

      <p class="subtitle">Começa hoje a ouvir música sem anúncios e offline grátis até 26 de julho de 2022. Cancela quando quiseres.</p>

      <div class="btn">
        <button class="btn-free">APROVEITE 3 MESES GRÁTIS</button>
        <button class="ver-planos">VER PLANOS</button>
      </div>

      <p class="termos-p">Somente no plano Individual. Depois, é só R$ 19,90/mês. Sujeito a Termos e Condições. Disponível apenas para quem nunca usou o Premium. Esta oferta termina em 12 de maio de 2022. Poupança estimada com base no preço normal do plano Individual de R$ 19,90 por mês.</p>
    </div>

    <div class="img">
      <article>
        <img class="img-pag" width="400" src="https://i.scdn.co/image/ab678e040000ed3a3f49129d975d2ffcbb649b63" alt="">
      </article>
    </div>
  </section>

  <section class="why-premium">
    <h1 class="title-premium">Por que ser Premium?</h1>
    <div class="modo-of">
      <article class="info-bg">
        <img class="img-premium" width="140" src="https://i.scdn.co/image/ab671c3d0000f43009302fbaf6259b4c117c704f" alt="">
        <h3 class="title-img">Modo Offline.</h3>
        <p class="pag-img">Ouça música onde estiver.</p>
      </article>

      <article  class="info-bg">
        <img class="img-premium" width="140" src="https://i.scdn.co/image/ab671c3d0000f43098292b95d24a697c20df5137" alt="">
        <h3 class="title-img">Sem anúncios.</h3>
        <p class="pag-img">Curta música, sem parar.</p>
      </article>

      <article  class="info-bg">
        <img class="img-premium" width="140" src="https://i.scdn.co/image/ab671c3d0000f4306998d3ffd58aad6da6afdf67" alt="">
        <h3 class="title-img">Ouça o que quiser.</h3>
        <p class="pag-img">Ouça música onde estiver.</p>
      </article>

      <article  class="info-bg">
        <img class="img-premium" width="140" src="https://i.scdn.co/image/ab671c3d0000f430cd6c528745e510c5be63a012" alt="">
        <h3 class="title-img">Troque de música sempre.</h3>
        <p class="pag-img">Pule quando quiser.</p>
      </article>


    </div>

  </section>

  <section class="escolha-plano">
    <div class="title-plano">
      <h1 class="h1-plano">Escolha seu plano Premium</h1>
    </div>

    <div class="cartao">
      <article>
        <img src="" alt="">
      </article>

      <article>
        <img src="" alt="">
      </article>

      <article>
        <img src="" alt="">
      </article>

      <article>
        <img src="" alt="">
      </article>
    </div>

    <section class="area-planos">
      <div class="plano-individual">
        <div class="cont-plano">
          <p class="span-planos">3 Meses grátis com a assinatura</p>
          <h3>Individual</h3>
          <div class="preco">
            <p>R$ 19,90/mês após o período da oferta</p>
            <p>1 conta</p>
          </div>
  
          <hr>
  
          <div class="conteudo-plano">
            <p>Ouça músicas sem anúncios</p>
            <p>Ouça em qualquer lugar — até no modo offline</p>
  
            <p>Escolha a música que quer ouvir</p>
            <p>Faça um plano pré-pago ou uma assinatura</p>
          </div>
  
          <button class="call-to-action">COMEÇAR</button>
  
          <p  class="p-planos">Somente no plano Individual. Depois, é só R$ 19,90/mês. Sujeito a Termos e Condições. Disponível apenas para quem nunca usou o Premium. Esta oferta termina em 12 de maio de 2022.</p>
        </div>
      </div>

      <div class="plano-individual">
        <div class="cont-plano">
          <p class="span-planos">3 Meses grátis com a assinatura</p>
          <h3>Individual</h3>
          <div class="preco">
            <p>R$ 19,90/mês após o período da oferta</p>
            <p>1 conta</p>
          </div>
  
          <hr>
  
          <div class="conteudo-plano">
            <p>Ouça músicas sem anúncios</p>
            <p>Ouça em qualquer lugar — até no modo offline</p>
  
            <p>Escolha a música que quer ouvir</p>
            <p>Faça um plano pré-pago ou uma assinatura</p>
          </div>
  
          <button class="call-to-action">COMEÇAR</button>
  
          <p  class="p-planos">Somente no plano Individual. Depois, é só R$ 19,90/mês. Sujeito a Termos e Condições. Disponível apenas para quem nunca usou o Premium. Esta oferta termina em 12 de maio de 2022.</p>
        </div>
      </div>


      <div class="plano-individual">
        <div class="cont-plano">
          <p class="span-planos">3 Meses grátis com a assinatura</p>
          <h3>Individual</h3>
          <div class="preco">
            <p>R$ 19,90/mês após o período da oferta</p>
            <p>1 conta</p>
          </div>
  
          <hr>
  
          <div class="conteudo-plano">
            <p>Ouça músicas sem anúncios</p>
            <p>Ouça em qualquer lugar — até no modo offline</p>
  
            <p>Escolha a música que quer ouvir</p>
            <p>Faça um plano pré-pago ou uma assinatura</p>
          </div>
  
          <button class="call-to-action">COMEÇAR</button>
  
          <p  class="p-planos">Somente no plano Individual. Depois, é só R$ 19,90/mês. Sujeito a Termos e Condições. Disponível apenas para quem nunca usou o Premium. Esta oferta termina em 12 de maio de 2022.</p>
        </div>
      </div>

            <div class="plano-individual">
          <div class="cont-plano">
          <p class="span-planos">3 Meses grátis com a assinatura</p>
          <h3>Individual</h3>
          <div class="preco">
            <p>R$ 19,90/mês após o período da oferta</p>
            <p>1 conta</p>
          </div>
  
          <hr>
  
          <div class="conteudo-plano">
            <p >Ouça músicas sem anúncios</p>
            <p>Ouça em qualquer lugar — até no modo offline</p>
  
            <p>Escolha a música que quer ouvir</p>
            <p>Faça um plano pré-pago ou uma assinatura</p>
          </div>
  
          <button class="call-to-action">COMEÇAR</button>
  
          <p  class="p-planos">Somente no plano Individual. Depois, é só R$ 19,90/mês. Sujeito a Termos e Condições. Disponível apenas para quem nunca usou o Premium. Esta oferta termina em 12 de maio de 2022.</p>
        </div>
      </div>
      
    </section>
  </section>
</main>